/*
Names: Zhenhaui Zeng
File Name: adminStyle.css
Date: 11/15/2023
Description: this is a style file. it adds different styles to the content.
*/


table{
    margin-right: 20px;
    border: 1px solid brown;
}
th{
    border: 1px solid brown;
}
td{
    border: 1px solid brown;
}
.divOne{
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.partOne
{
    border: solid 1px brown;
}
h1{
    text-align: center;
    font-family: "Agency FB", serif;
}
html
{
    background-color: beige;
}
h2{
    display: flow;
    align-content: flex-start;
}
#button
{
    background-color: blue;
    margin-bottom: 50px;
    margin-left: 100px;
}