table{
    margin-right: 20px;
    border: 1px solid black;
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
.divOne{
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.partOne
{
    border: solid 1px black;
}
h1{
    text-align: center;
}
html
{
    background-color: beige;
}
h2{
    display: flow;
    align-content: flex-start;
}