table{
    border: 1px solid black;
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
form{
    display:grid;
    grid-template-columns: 1fr 3fr;
}
.partOne
{
    border: solid 1px black;
}
