/*
Names: Zhenhaui Zeng
File Name: style.css
Date: 10/11/2023
Description: this is a style file. it adds different styles to the content.
*/

h1
{
    font-size:100px;
    text-align: center;
}
body{
    background-color: beige;
}

img{
    display: block;
    margin: 0 auto;
    width: 40%;
}

p{
    text-align: center;
    font-size: 25px;
}